.container {
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px !important;
	max-width: 850px;
	padding: 1rem;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	border: 3px solid #b8b6b6;
	background-color: #5e606e;
	box-shadow: 6px 6px 4px -4px gray;
	border-radius: 10px;
	background: linear-gradient(to right, #5e606e 0%, black 130%);
}

.content {
	flex-grow: 1;
}